

html
	height: 100%
	width: 100%
	margin: 0
	padding: 0

body
	margin:  0
	height: 100%
	font-family:  'Roboto', sans-serif
	margin: 0px
	background-color: #bcbcbc
	


#first_block
	background: url('../img/Untitled-2.jpg') no-repeat
	background-color: gray
	clear: both
	width: 100%
	background-size: 100%
	font-size: 1.5477vw
#fofo
	font-size: 2.3vw
	font-weight: 900
#logo
	text-align: center
	color: white
	float: left
	font-size: 0.8vw
	padding: 0 
    margin:  0
	margin-top: 0px
	padding-left: 2vw
	padding-top: 2vw
    height: 0px
    width: 20%
	line-height: 1.4vw
	
#current
	text-decoration: underline
span
	font-size:  0.4em
	

#opapa
	
	margin-right: 0px
#poo2
	padding-top: 1vw
	font-size: 2.5vw
	font-weight: 600
.main-menu

	width: 70%
	font-size: 1.5vw
	text-align: right
	margin: 2vw 0 0 0
	
	padding-left: 0
	 width: 50%
	list-style-type: none
	display:  flex


.main-menu1
	
	clear: both
	margin-bottom: 0
	vertical-align: center
	justify-content: center
	width: 40%
	font-size: 1vw
	text-align: right	
	margin-top: 4vw
	padding-left: 30%
	list-style-type: none
	display:  flex


li
	margin-left: 2vw
	color:  white
	

a
	
	color:  white
	text-decoration: none

#second-block
	float: right
	margin-right: 3vw
	

#biti
	clear: both

#koko
	font-size: 1.7vw
	font-weight: 900

h4
	margin-top: 0px

#asc
	margin-top: 0px
	width: 100%
	font-size: 1.6vw
	line-height: 2vw
	clear: both
	color: white

h2
	margin:  0px


#ii
	clear: both
	text-align: right
	font-size: 2em
	color: white
	margin-right: 20px
	line-height: 0px

#but
	font-weight: 100
	font-size: 1.25vw
	margin-right: 20px
	opacity: 1
	height: 1.8vw
	width: 14vw
	font-weight: 600
	padding: 0
	border: none
	border-radius: 9px
	background-color: yellow

#lilpip
 	font-size: 5vw
 	color: yellow
 	font-weight: 900
 	line-height: 5vw
#kolilo
	font-size: 4vw
	line-height: 5vw
#lol
	margin-top: 8vw
	color: white
	clear: both
	width: 50%
	font-size: 4.7vw
	line-height: 5vw
	text-align: right
	font-weight: 900
	float: left  

#spiner
	color: yellow
	font-size: 1.7vw
#spiner1
	color: yellow
	font-size: 1.7vw
#ipp
	margin-right: 1vw
	float: left
	padding-left: 0px
	width: 37%
	font-size: 1.7vw
	text-align: center
	margin:  0 px
	margin-top: 8vw
	margin-left: 8vw
	list-style-type: none
	display:  block
	list-style-type: none
	line-height: 1vw
#sospian
	
	font-size: 2vw
#item-1
	line-height: 3vw
#item-2
	line-height: 4vw
#item-3
	line-height: 2vw
#item-4
	padding-top: 2vw
	line-height: 2vw
li
		
	text-align: left

#assa
	clear: both
	padding-top: 0px
	text-align: center
	float: none
	width: 22%
	line-height: 0px
	
	vertical-align: bottom
	margin: 0 auto
	

#sasa
	width: 7%

#a2
	font-size: 0.6vw
	color: white
	font-size: 1vw
	font-weight: 100
	line-height: 1.2vw
	padding-bottom: 3vw

#b11
	font-size: 1vw

#po
	font-size: 1vw

#tel
	font-size: 1.6vw
	opacity: 0.6
	width: 100%
	height: 3.5vw
	text-align: center

#cois
	width: 100%

#tel1
	margin-left: -1vw
	padding: 0
	clear: both
	font-weight: 600
	font-size: 2vw
	background-color: #fedd00
	opacity: 1
	width: 24vw
	text-align: center
	height: 4.4vw
	border: none
	border-radius:  10px
#nina
	margin-left: 2vw
	color: yellow
	font-weight: 900
#nina1
	margin-left: 2vw
	color: yellow
	font-weight: 900
#nina2
	margin-left: 2vw
	color: yellow
	font-weight: 900
#nina3
	margin-left: 2vw
	color: yellow
	font-weight: 900

#block2
	background-color: gray

#nash
	margin-top: 3vw
	font-weight: 900
	font-size: 3.6vw
	padding-top: 0
	text-align: center
	float: none
	width: 100%
	line-height: 0px
	
	

#block2
	width: 100%

#buka1
	background:  url('../img/косметический.jpg') no-repeat 
	background-size:  100%
	width: 40%
	float: left
	margin-left: 5%
	margin-top: 3vw
	
	font-size:  1vw

#buka2
	background:  url('../img/капитальный.jpg') no-repeat
	background-size:  100%
	width: 40%
	float: left
	margin-left: 9.5vw
	margin-right: 5%
	margin-top: 3vw
	font-size:  1vw

#nika2
	margin: 0

#buka3
	clear: both
	margin-top: 4vw
	background:  url('../img/перепланировка.jpg') no-repeat
	background-size:  100%
	float: left
	width: 40%
	margin-left: 5% 
   
	font-size:  1vw
	

#buka4
	
	
	background:  url('../img/премиальный.jpg') no-repeat
	background-size:  100%
	float: left
	width: 40%
	margin-right: 5% 
	margin-top: 3.5vw
	margin-left: 9.5vw
	font-size:  1vw

.k2
	list-style-type: none
	padding-left: 1vw

.k2 li
	margin-left: 1vw

#as12
	padding:  1vw 0vw 0vw 1vw
	margin-top: 0px
	clear:  left
	text-align: left
	color:  white

#splint
	margin: 0
	padding: 0

.b11
	background-color: white
	height: 3vw
	font-size: 2vw
	justify-content:  center

#po
	background-color: yellow
	opacity: 1
		
	height: 2vw
	border: none
	border-radius:  4px

#bbb
	margin-top: 60vw
	height: 0.4vw
	width: 100%
	background-color: yellow


#c1
	clear: left
	color: white
	width: 100%
	


#cor
	padding-left: 2vw
	clear: left
	float: left
	background-color:  #161100
	width: 57%
	background-size:  100%
	font-size: 1.5477vw
	


#imgg
	float: left
	height: 26.5vw
	background-color: black
	width: 40%
	background:  url('../img/1.jpg') no-repeat
	float: left
	background-size:  100%

#lopi
	padding-top: 1vw
	clear: left

#lopi1
	padding-top: 2vw
	font-size: 3vw
	text-align: center
	margin-top: 0px
	clear: left
	background-color: white
	margin-bottom: 0px

#img1
	height: 70vw
	background:  url('../img/why.png') no-repeat 
	background-size: cover
    width: 100%


#img2
	height: 40vw
	background:  url('../img/2.jpg') no-repeat 
	background-size: cover
    width: 100%

#asas
	clear: both
	background-color: white
	

#ulogo

	width: 80%
	font-weight: 900
	justify-content: center
	text-align: center
	margin: 3vw 0 0 2vw
	padding-bottom: 3vw
	list-style-type: none
	display: flex

#ko 
	margin-top: 0px
	text-align: center
	color:  black
	font-size: 3vw
	
#ololos
	font-size: 3vw
	color:  gray
#ololos1
	padding-left: 7vw
	font-size: 3vw
	color:  gray
#ololos2
	padding-left: 7vw
	font-size: 3vw
	color:  gray
#ololos3
	padding-left: 7vw
	font-size: 3vw
	color:  gray
#ololos4
	padding-left: 7vw
	font-size: 3vw
	color:  gray

#ko2
	clear: both
	text-align: center
	padding-top: 2vw
	font-size: 2vw
	margin-top: 0
	font-weight: 800
#ko3
	text-align: center
	font-size: 1.7vw

#ko4
	clear: both
	padding-top: 0px
	text-align: center
	float: left
	width: 100%
	line-height: 0px
	vertical-align: bottom
	margin: 0 0vw



#bloc
	clear: both
	background-color: #fedd00
	margin-top: 0px

#number
	margin-left: 32%
	font-size: 1vw
	height: 2.7vw
	text-align: center
	width: 18%
	background-color: white
  	padding: 0
  	float: left

#butt
	
	float: right
	padding: 0
	font-size: 1.5vw
	margin-right: 27%
	background-color: #fe8900
	opacity: 1
	width: 20%
	height: 3vw
	border: none
	border-radius:  13px

#yiy
	clear: both
	padding-left: 4vw
	padding-bottom: 1.5vw
	margin-bottom: 0
	color: gray
	font-size: 1vw
	text-align: center
	

#soaks
	clear: both
	float: right

#pis
	background-color:  rgba(255,255,255,.0)
	border: none
	padding-left: 0
	float: left
	width: 10%
	height: 15vw
	font-size: 10vw
	

#pis2
	font-size: 1.5vw
	float: left
	width: 40%

#pis4
	background-color:  rgba(255,255,255,.0)
	border: none
	float: left
	width: 10%
	height: 15vw
	font-size: 10vw
	

#as12
	color: white
	font-size: 2vw


#otz
	text-align: right
	margin-top: 0
	font-size: 3vw
	font-weight: 900

#dasa
	font-size: 3vw
	color: #fedd00
	font-weight: 900

#bulka
	clear: both
	overflow:  hidden
	background: url('../img/compbody.jpg') no-repeat
	background-size: 100%
	width: 100%

.kos
	
#block3
	background-color:  #161100
#ploho
	background-size:  auto 100%
	float: right
	width: 40%
	height: 12vw
	background-color: white

#loi
	clear: both
	background:  url('../img/bottom-bg.jpg') no-repeat 
	background-size: cover
    width: 100%

#lipa
	float: left
	color: white
	font-size: 2vw
	padding: 0 
    margin:  0px 800px 0px 40px
    height:  13vw
    width: 18%
	line-height: 3vw

#pikapika
	font-weight: 900

#fofo1
	font-size: 2.3vw
	font-weight: 900
#logo1
	text-align: center
	color: white
	float: left
	font-size: 0.8vw
	padding: 0 
    margin:  0
	margin-top: 0px
	padding-left: 2vw
	padding-top: 2vw
    height: 0px
    width: 20%
	line-height: 1.4vw
       
		
	

